@model DiscussionHub.Models.DiscussionHubUserViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Manage your account details and settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @if (Model.DiscussionHubUser.LoginPref == null)
            {
                <html>
                    <b>You have not entered any account details</b>
                    <br/>[ @Html.ActionLink("Enter Account Details", "UpdateDetails") ]
                </html>
            }
            else
            {
                <html>
                    <b>Username:</b> @Model.DiscussionHubUser.LoginPref
                    <br/><b>Name:</b> @Model.DiscussionHubUser.FName @Model.DiscussionHubUser.LName
                    <br/><b>About:</b> @Model.DiscussionHubUser.About
                    <br/><b>About:</b> @Model.DiscussionHubUser.UserId


                    <br/><b>Current Discussion: </b><a href="Home/ViewDiscussionDetails/@Model.Discussion.UserId">@Model.Discussion.Title</a>
                    <br/>[ @Html.ActionLink("Update Account Details", "UpdateDetails") ]
                </html>
            }          
        </dd>

        <br/><dt>Password:</dt>
        <dd>
            [
            @if (Model.Identity.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        
        <br/><dt>External Logins:</dt>
        <dd>
            @Model.Identity.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>
</div>
