@model DiscussionHub.Models.ViewModels.ManageUserViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Manage your account details and settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @if (Model.DiscussionHubUser.LoginPref == null)
            {
                <html>
                <b>You have not entered any account details</b>
                <br/>[ @Html.ActionLink("Enter Account Details", "UpdateDetails", new { id = Model.DiscussionHubUser.UserId }) ]
                </html>
            }
            else
            {
                <html>
                <b>Username:</b> @Model.DiscussionHubUser.LoginPref
                <br/><b>Name:</b> @Model.DiscussionHubUser.FName @Model.DiscussionHubUser.LName
                <br/><b>About:</b> @Model.DiscussionHubUser.About

                <br/>[ @Html.ActionLink("Update Account Details", "UpdateDetails", new { id = Model.DiscussionHubUser.UserId }) ]
                </html>
            }          
        </dd>
        
        @if (Model.Discussion != null)
        {
            <br/><b>Current Discussion: </b><a href="Discussions/ViewDiscussionDetails/@Model.Discussion.DiscussionId">@Model.Discussion.Title</a>
        }
        else
        {
            <br/><b>You have not yet started any discussions!</b>
        }
        
        <br/><br/><dt>Password:</dt>
        <dd>
            [
            @if (Model.Identity.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        
        <br/><dt>External Logins:</dt>
        <dd>
            @Model.Identity.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>
</div>
