@model DiscussionHub.Models.ViewModels.DiscussionHubUserViewModel
@{
    ViewBag.Title = "Update Account Information";
}

<h2>Update Account Information</h2>

<div class="wrapper">
    @using (Html.BeginForm("UpdateDetails", "Manage", FormMethod.Post))
    {
        <form>
            @Html.HiddenFor(model => model.UserId)
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.DisplayNameFor(model => model.FName)
                    @Html.TextBoxFor(model => model.FName, new { @class = "form-control", placeholder = "First Name" })
                    @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.DisplayNameFor(model => model.LName)
                    @Html.TextBoxFor(model => model.LName, new { @class = "form-control", placeholder = "Last Name" })
                    @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.DisplayNameFor(model => model.LoginPref)
                    @Html.TextBoxFor(model => model.LoginPref, new { @class = "form-control", placeholder = "Username" })
                    @Html.ValidationMessageFor(model => model.LoginPref, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.DisplayNameFor(model => model.About)
                    @Html.TextAreaFor(model => model.About, new {@class = "form-control", rows = 5})
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-outline-dark">Submit Changes</button>
                </div>
            </div>
        </form>
    }
</div>