@model List<PickUpSports.Models.ViewModel.GameController.GameListViewModel>
@{
    ViewBag.Title = "_SearchBySport";
}

<h4 id="warning">@ViewBag.ErrorMsg</h4>
<li>
    @foreach (var game in Model)
    {
        <div class="container">
            <div class="row">
                @Html.DisplayFor(model => game.Sport) at @Html.DisplayFor(model => game.Venue)
            </div>
            <div class="row">
                @Html.DisplayFor(model => game.StartDate) to @Html.DisplayFor(model => game.EndDate)
            </div>
            <div class="row">
                Game started by @Html.DisplayFor(model => game.ContactName)
            </div>


            <div class="row">
                <br />@Html.ActionLink("Click here for more details on game", "GameDetails", new { id = game.GameId })
            </div>

        </div>
        <hr />
    }
</li>

