@using PickUpSports.Models.DatabaseModels
@model PickUpSports.Models.ViewModel.GameController.EditGameViewModel
@{
    ViewBag.Title = "EditGame";
}

@Styles.Render("https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="../../Scripts/gameView.js"></script>
}

@using (Html.BeginForm("EditGame", "Game", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="well well-sm">

                <fieldset>
                    @Html.HiddenFor(model => model.ContactId)
                    @Html.HiddenFor(model => model.GameId)

                    <legend class="text-center header" id="header">Edit Game Detail</legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Venue)
                        @Html.DropDownList("Venue", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status)
                        @Html.DropDownList("Status", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sport)
                        @Html.DropDownList("Sport", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group" style="padding-top: 20px">
                        @Html.DisplayNameFor(x => x.DateRange)
                        @Html.EditorFor(x => x.DateRange, new { htmlAttributes = new { @class = "form-control", name = "datetimes", @id = "datetimes" })
                    </div>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(false, null, new {@class = "text-danger"})

                            </div>
                        </div>
                    }

                    <button type="submit" class="btn btn-primary">Edit Information</button>


                </fieldset>

            </div>


        </div>


    </div>

}
