@model PickUpSports.Models.ViewModel.GameController.ViewGameViewModel
@{
    ViewBag.Title = "Game Details";
}
@section Scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../Scripts/pickUpGameView.js"></script>
}

<head>
    <link href="@Url.Content("/Content/playerTable.css")" rel="stylesheet" type="text/css" />
</head>


<div class="container">
    <div class="row">
        <div class="well well-sm">

            <fieldset>
                <legend class="text-center header" id="header">Game Detail</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactName)
                    @if (Model.ContactId == null)
                    {
                        <html>
                        User that created this game no longer has an account.
                        </html>
                    }
                    else
                    {
                        <html>
                        @Html.ActionLink(Model.ContactName, "Profile", "Contact", new {id = Model.ContactId}, null)
                        </html>
                    }     
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Venue)
                    @Html.DisplayFor(model => model.Venue)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Status)
                    @Html.DisplayFor(model => model.Status)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Sport)
                    @Html.DisplayFor(model => model.Sport)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate)
                    @Html.DisplayFor(model => model.StartDate)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate)
                    @Html.DisplayFor(model => model.EndDate)
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(false, null, new {@class = "text-danger", @id ="error-msg"})

                        </div>
                    </div>
                }

                <center>
                    <p>
                        @using (Html.BeginForm("GameDetails", "Game", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.GameId)
                            @Html.HiddenFor(model => model.ContactId)
                            @Html.HiddenFor(model => model.PickUpGameId)
                            if (ViewBag.IsVenueOwner)
                            {
                                if (ViewBag.IsThisVenueOwner)
                                {
                                    <input type="submit" name="button" class="btn btn-default" value=@ViewBag.SubmitValue />
                                }
                            }
                            else
                            {
                                if (ViewBag.IsCreator)
                                {
                                    <input type="button" class="btn btn-default" value="Edit Information" onclick="location.href = '@Url.Action("EditGame", "Game", new {id = Model.GameId})'" />
                                }
                                else
                                {

                                    <input type="submit" name="button" value="Join Game" class="btn btn-default" />
                                    <input type="submit" name="button" value="Leave Game" class="btn btn-default" />

                                }
                                <input type="button" class="btn btn-default" value="Invite a friend" onclick="location.href = '@Url.Action("FriendInvite", "Friends", new {id = Model.GameId})'" />
                            }


                        }

                    </p>
                </center>

            </fieldset>
            
        </div>


    </div>
    <br />
    <div id="myList">

    </div>

</div>

