@model PickUpSports.Models.Contact

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">

                <fieldset>
                    <legend class="text-center header">Your Information</legend>
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-user bigicon"></i></span>
                        <div class="col-md-5">
                            <dt>@Html.DisplayNameFor(model => model.Username):</dt>
                            <dd>@Html.DisplayFor(model => model.Username)</dd>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"></span>
                        <div class="col-md-5">
                            <dt>@Html.DisplayNameFor(model => model.FirstName):</dt>
                            <dd>@Html.DisplayFor(model => model.FirstName)</dd>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"></span>
                        <div class="col-md-5">
                            <dt>@Html.DisplayNameFor(model => model.LastName):</dt>
                            <dd>@Html.DisplayFor(model => model.LastName)</dd>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-envelope bigicon"></i></span>
                        <div class="col-md-5">
                            <dt>@Html.DisplayNameFor(model => model.Email):</dt>
                            <dd>@Html.DisplayFor(model => model.Email)</dd>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-home bigicon"></i></span>
                        <div class="col-md-5">
                            <dt>@Html.DisplayNameFor(model => model.Address1):</dt>
                            <dd>@Html.DisplayFor(model => model.Address1)</dd>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"></span>
                        <div class="col-md-5">
                            <dt>@Html.DisplayNameFor(model => model.Address2):</dt>
                            <dd>@Html.DisplayFor(model => model.Address2)</dd>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-map-marker bigicon"></i></span>
                        <div class="col-md-5">
                            <dt>@Html.DisplayNameFor(model => model.City):</dt>
                            <dd>@Html.DisplayFor(model => model.City)</dd>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"></span>
                        <div class="col-md-5">
                                <dt>@Html.DisplayNameFor(model => model.State):</dt>
                                <dd>@Html.DisplayFor(model => model.State)</dd>
                        </div>
                    </div>
                    <br/><br/>               
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-earphone bigicon"></i></span>
                        <div class="col-md-5">
                                <dt>@Html.DisplayNameFor(model => model.PhoneNumber):</dt>
                                <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                        </div>
                    </div>
                    <br /><br />
                </fieldset>

            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit Information", "Edit", new { id = Model.ContactId })
</p>
