@model IEnumerable<DiscussionHub.Models.Discussion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoteCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpvoteCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownvoteCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalViews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoteCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpvoteCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownvoteCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalViews)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contents)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.DiscussionId })
           
        </td>
    </tr>
}

</table>
