@model PickUpSports.Models.ViewModel.VenueController.VenueViewModel
@{
    ViewBag.Title = @Model.Name;
}

@*Venue details*@
<div class="container">
    <div class="row">
        <div class="form-box">
            <h2 id="Name">@Model.Name</h2>
            <div class="well">
                <div class="row" id="AddressInformation">
                    @Model.Address1
                    @if (!string.IsNullOrEmpty(Model.Address2))
                    {
                        <br />@Model.Address2
                    }
                    <br />@Model.City, @Model.State, @Model.ZipCode
                </div>
                @if (!string.IsNullOrEmpty(Model.Phone))
                {
                    <div class="row">
                        @Model.Phone
                    </div>
                }
                
                <br/>
                <div class="row" id="BusinessHours">
                    <b>Hours of Operation:</b>
                </div>
                @if (Model.BusinessHours.Count > 0)
                {
                    foreach (var businessHour in Model.BusinessHours)
                    {
                        <div class="row">
                            @Html.DisplayFor(x => businessHour.DayOfWeek): @Html.DisplayFor(x => businessHour.OpenTime) - @Html.DisplayFor(x => businessHour.CloseTime)
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        We apologize. Business hours are not currently available for this venue.
                    </div>
                }
                
                <br/>
                <div class="row" id="AverageRating">
                    @if (Model.AverageRating != null)
                    {
                        <b>Average Review Rating:</b> @Model.AverageRating
                    }
                </div>
                
                <div class="row">
                    @if (Model.HasVenueOwner)
                    {
                    <html>
                    If you own or run this venue, please @Html.ActionLink("click here", "ClaimVenue", "VenueOwner", new {venueId = @Model.VenueId}, null) to claim this venue and maintain any games or information"
                    </html>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<center>
    <div class="container" style="padding-top: 30px">
        <div class="row">
            <div class="col-md-6" id="Reviews">
                <center><b>@Model.Name Reviews</b></center>
                <br />@Html.ActionLink("Leave a review!", "Create", "Review", new { id = @Model.VenueId }, null)    
                <br /><br/>
                @{
                    Html.RenderAction("GetReviews", new { venueId = Model.VenueId});
                }
            </div>

            <div class="col-md-6" id="Games">
                <center><b>Games coming up at @Model.Name</b></center>
                <br />@Html.ActionLink("Start a game!", "CreateGame", "Game")
                <br /><br/>
                @{
                    Html.RenderAction("GetVenueGames", new { venueId = Model.VenueId});
                }
            </div>
        </div>
    </div>
</center>

