@model PickUpSports.Models.ViewModel.VenueViewModel
@{
    ViewBag.Title = @Model.Name;
}

@*Venue details*@
<div class="container">
    <div class="row">
        <h2>
            <i>@Model.Name</i>
        </h2>
    </div>
    <div class="row">
        @Model.Address1
        @if (!string.IsNullOrEmpty(Model.Address2))
        {
            <br/>@Model.Address2
        }
        <br/>@Model.City, @Model.State, @Model.ZipCode
    </div>
    @if (!string.IsNullOrEmpty(Model.Phone))
    {
        <div class="row">
            @Model.Phone
        </div>
    }
    <div class="row">
        <br/><b>Average Review Rating:</b> @Model.AverageRating
    </div>
</div>

@*Business Hours*@
<br/>
<div class="container">
    <div class="row">
        <h3>
            Business Hours:
        </h3>
    </div>
    @if (Model.BusinessHours.Count > 0)
    {
        foreach (var businessHour in Model.BusinessHours)
        {
            <div class="row">
                @Html.DisplayFor(x => businessHour.DayOfWeek): @Html.DisplayFor(x => businessHour.OpenTime) - @Html.DisplayFor(x => businessHour.CloseTime)
            </div>
        }
    }
    else
    {
        <div class="row">
            We apologize. Business hours are not currently available for this venue.
        </div>
    }
</div>

@*Reviews*@
<br/>
<div class="container">
    <div class="row">
        <h3>
            Reviews:
        </h3>
    </div>
    @if (Model.Reviews.Count > 0)
    {
        //Reviews here
    }
    else
    {
        <div class="row">
            There are no reviews available for this venue.
        </div>
    }
</div>