@using PickUpSports.Controllers
@model List<PickUpSports.Models.ViewModel.VenueViewModel>
@{
    ViewBag.Title = "Sports Venues";
}

<h2><i>Local Sports Venues</i></h2>
<hr />
<<<<<<< HEAD
<p>
    <center>
        @Html.ActionLink("SortByRating", "Index", new { sortBy = ViewBag.RateSort })
    </center>
</p>

<input type="number" name="Distance" min="1" max="100" />
@foreach (var venue in Model)
{
    <div class="container">
        <div class="row">
            @Html.DisplayFor(model => venue.Name)
        </div>
        <div class="row">
            @Html.DisplayFor(model => venue.Address1), @Html.DisplayFor(model => venue.City), @Html.DisplayFor(model => venue.State), @Html.DisplayFor(model => venue.ZipCode)
        </div>
        <div class="row">
            @Html.DisplayFor(model => venue.Phone)
        </div>
        <div class="row">
            @Html.DisplayFor(model => venue.Distance)
        </div>

        <div class="row">
            <br />@Html.ActionLink("Click here to view ratings and buisness hours", "Details", new { id = venue.VenueId })



        </div>

    </div>
    <hr />
}

@section PageScript
{
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () {})
       
      
        window.navigator.geolocation.getCurrentPosition(function(position) {
            var userLat = position.coords.latitude;
            var userLong = position.coords.longitude;

            $.ajax({
                url: '/Venue/Index',
                type: 'GET',
                dataType: "json",
                data: JSON.stringify({ curLat: userLat, curLong: userLong }),
                success: function (data) {
                    alert(data);
                },
                error: function (errMsg) {
                    alert(errMsg);
                }
            });
        });
           

       

           
        }


    </script>


}



