@model List<PickUpSports.Models.ViewModel.VenueViewModel>
@{
    ViewBag.Title = "Sports Venues";
}

<h2><i>Local Sports Venues</i></h2>
<hr />
<p>
    <center>
        @Html.ActionLink("SortByRating", "Index", new { sortBy = ViewBag.RateSort})
    </center>
</p>
@foreach (var venue in Model)
{
    <div class="container">
        <div class="row">
            @Html.DisplayFor(x => venue.Name)
        </div>
        <div class="row">
            @Html.DisplayFor(x => venue.Address1), @Html.DisplayFor(x => venue.City), @Html.DisplayFor(x => venue.State), @Html.DisplayFor(x => venue.ZipCode)
        </div>
        @if (venue.Phone != null)
        {
            <div class="row">
                @Html.DisplayFor(x => venue.Phone)
            </div>
        }
        <div class="row">
            <br/>@Html.ActionLink("Click here to view venue details", "Details", new {id = venue.VenueId})
        </div>
    </div>
    <hr/>
}