@model List<PickUpSports.Models.ViewModel.VenueViewModel>
@{
    ViewBag.Title = "Sports Venues";
}

<div class="page-header">
    <h3>Sports Venues and Fields</h3>
    <p>Find local venues to play your favorite sports at here!</p>
</div>

<p>
    <center>        
        <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Venue", new {sortBy = "RatingDesc"})'">Sort by Rating</button>
        <button type="button" class="btn btn-outline-dark" onclick="getLocation()">Sort by Distance</button>
    </center>
</p>

<ul class="rolldown-list" id="myList">
    <li>
        @foreach (var venue in Model)
        {

            <div class="container">
                <div class="row">
                    @Html.DisplayFor(model => venue.Name)
                </div>
                <div class="row">
                    @Html.DisplayFor(model => venue.Address1), @Html.DisplayFor(model => venue.City), @Html.DisplayFor(model => venue.State), @Html.DisplayFor(model => venue.ZipCode)
                </div>
                <div class="row">
                    @Html.DisplayFor(model => venue.Phone)
                </div>
                <div class="row">
                    @Html.DisplayFor(model => venue.Distance)
                </div>

                <div class="row">
                    <br />@Html.ActionLink("Click here for details", "Details", new { id = venue.VenueId })
                </div>

            </div>
            <hr />
        }
    </li>
</ul> 



<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Index", "Venue")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ curLat: lat, curLong: long, sortBy: "Distance" }),
            success: function (data) {
                alert(data);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
</script>

