@model List<PickUpSports.Models.ViewModel.VenueViewModel>
@{
    ViewBag.Title = "Sports Venues";
}
<h2><i>Local Sports Venues</i></h2>
<hr />
<p>
    <center>
        @Html.ActionLink("SortByRating", "Index", new { sortBy = ViewBag.RateSort }, new { @class = "btn btn-danger" })  @Html.ActionLink("Sort Venues by Distance", "Index", new { sortBy = ViewBag.DistanceSort }, new {@class = "btn btn-danger"})

    </center>
    
</p>
<input type="number" name="Distance" min="1" max="100" />
@foreach (var venue in Model)
{
    <div class="container">
        <div class="row">
            @Html.DisplayFor(model => venue.Name)
        </div>
        <div class="row">
            @Html.DisplayFor(model => venue.Address1), @Html.DisplayFor(model => venue.City), @Html.DisplayFor(model => venue.State), @Html.DisplayFor(model => venue.ZipCode)
        </div>
        <div class="row">
            @Html.DisplayFor(model => venue.Phone)
        </div>
       


        <div class="row">
            <br />@Html.ActionLink("Click here to view ratings and buisness hours", "Details", new { id = venue.VenueId })
        </div>
    </div>
    <hr />
}

<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Index", "Venue")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ curLat: lat, curLong: long, sortBy: "Distance" }),
            success: function (data) {
                alert(data);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }

    getLocation()
</script>


