@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="my-nav">
        <div class="navbar navbar-default navbar-fixed-top scrollspy_menu mnav navbar__initial" role="navigation">
            <div class="container">
                <div class="navbar-header mnav">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand mnav" href="#">Pick Up Sports</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="fullpage__nav nav navbar-nav navbar-right mnav">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Venue")">Venues</a></li>
                        <li><a href="@Url.Action("GameList", "Game")">Pick Up Games</a></li>
                        <li><a href="@Url.Action("CreateGame", "Game")">Start a Game</a></li>

                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                    <li>
                                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Details", "Contact", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    </li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            }
                        }
                        else
                        {
                                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    @RenderSection("PageScript", required: false)


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("search_games", required: false)
</body>
</html>
