@model List<PickUpSports.Models.ViewModel.ViewFriendsViewModel>
@{
    ViewBag.Title = "FriendList";
}

<head>
    <link href="@Url.Content("/Content/playerTable.css")" rel="stylesheet" type="text/css" />
</head>


<div class="container">
    <div class="row">
        <fieldset>
            <legend class="text-center header" id="header">Friends List</legend>


        </fieldset>



    </div>

    <div id="myList">
        <table class="table rwd-table" id="playerTable">
            <tr>
                <th>@Html.DisplayName("Username:")</th>
                <th>@Html.DisplayName("Email:")</th>
                <th>@Html.DisplayName("Phone Number:")</th>
            </tr>


            @foreach (var player in Model)
            {
                @Html.HiddenFor(model => player.ContactId)
                @Html.HiddenFor(model => player.ContactFriendId)

                <tr>
                    <td>@Html.DisplayFor(model => player.FriendName)</td>
                    <td><a href="mailto:@Html.DisplayFor(model => player.FriendEmail)">@Html.DisplayFor(model => player.FriendEmail)</a></td>
                    <td>@Html.DisplayFor(model => player.FriendNumber)</td>
                </tr>
            }


        </table>
    </div>
</div>