@model PickUpSports.Models.ViewModel.VenueOwnerController.CreateVenueOwnerViewModel

@{
    ViewBag.Title = "Your Profile";
}

<div class="container">
    <div class="row">
        <div class="form-box">
            <h2>@Model.VenueName's Owner</h2>
            <br />
            <div class="well">
                <p>@Html.DisplayFor(x => x.FirstName) @Html.DisplayFor(x => x.LastName)</p>
                <p>@Html.DisplayFor(x => x.Email)</p>
                <p>@Html.DisplayFor(x => x.PhoneNumber)</p>
                <p>
                    <center>
                        @Html.ActionLink("Edit Information", "Edit", new { id = Model.VenueOwnerId })  | <a href="#" data-toggle="modal" data-target="#confirm">Message Owner</a> |
                    </center>
                </p>

            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("MessageOwner", "VenueOwner", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.VenueOwnerId)

    <!-- Modal -->
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmRemove" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="confirmRemove">@Html.LabelFor(x => x.MessageSubject)</h5>
                    @Html.EditorFor(x => x.MessageSubject, new { @class = "form-control" })
                </div>
                <div class="modal-body">
                    @Html.LabelFor(x => x.MessageBody)
                    @Html.EditorFor(x => x.MessageBody, new { @class = "form-control" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default" name="Button">Send Message</button>
                </div>
            </div>
        </div>
    </div>
}

