@model PickUpSports.Models.ViewModel.VenueOwnerController.CreateVenueOwnerViewModel

@{
    ViewBag.Title = "Your Profile";
}

<div class="container">
    <div class="row">
        <div class="form-box">
            <h2>@Model.VenueName's Owner</h2>
            <br/>
            <div class="well">
                <p>@Html.DisplayFor(x => x.FirstName) @Html.DisplayFor(x => x.LastName)</p>
                <p>@Html.DisplayFor(x => x.Email)</p>
                <p>@Html.DisplayFor(x => x.PhoneNumber)</p>
                <p>
                    <center>
                        @Html.ActionLink("Edit Information",  "Edit" ,new { id = Model.VenueOwnerId }) @*| @Html.ActionLink("Change Password", "ChangePassword", "Manage") | <a href="#" data-toggle="modal" data-target="#confirm">Delete Account</a> |  @Html.ActionLink("View Friends", "../Friends/FriendList", new { id = Model.ContactId })*@
                    </center>
                </p>

            </div>
        </div>
    </div>
</div>

