@model PickUpSports.Models.ViewModel.ContactController.ProfileViewModel


<div class="container">
    <div class="row">
        <div class="form-box">
            <h2>@Model.Username's Profile</h2>
            <center>
                @using (Html.BeginForm("AddFriend", "Friends", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.ContactId);
                    <input type="submit" name="button" value="Add Friend" class="btn btn-default" />
                }
            </center>
        </div>
    </div>
</div>

@if (Model.UserAllowsPublicProfile)
{
    <center>
        <div class="container" style="padding-top: 30px">
            <div class="row">
                <div class="col-md-6">
                    <center><b>@Model.Username's Sport Preferences</b></center>
                    <br />
                    @{
                        Html.RenderAction("GetSportPreferences", new { contactId = Model.ContactId, isPublicProfileView = true });
                    }
                </div>

                <div class="col-md-6">
                    <center><b>@Model.Username's Time Preferences</b></center>
                    <br />
                    @{
                        Html.RenderAction("GetTimePreferences", new { contactId = Model.ContactId, isPublicProfileView = true });
                    }
                </div>
            </div>
        </div>
    </center>

    <hr/>

    <center>
        <div class="container" style="padding-top: 30px">
            <div class="row">
                <div class="col-md-4">
                    <center><b>Games Started by @Model.Username</b></center>
                    <br />
                    @{
                        Html.RenderAction("GetGamesStartedByUser", new { contactId = Model.ContactId, isPublicProfileView = true });
                    }
                </div>

                <div class="col-md-4">
                    <center><b>Games @Model.Username Joined</b></center>
                    <br />
                    @{
                        Html.RenderAction("GetGamesUserJoined", new { contactId = Model.ContactId, isPublicProfileView = true });
                    }
                </div>
                
                <div class="col-md-4">
                    <center><b>@Model.Username's Games Rejected by Venue Owner</b></center>
                    <br />
                    @{
                        Html.RenderAction("GetGamesRejected", new { contactId = Model.ContactId, isPublicProfileView = true });
                    }
                </div>
            </div>
        </div>
    </center>
}
else
{
    <center>
        Unfortunately this user does not have a public profile.
    </center>
}
