@model PickUpSports.Models.ViewModel.CreateTimePreferenceViewModel
@{
    ViewBag.Title = "Create";
}

<br/><br/>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">

                <fieldset>
                    <legend class="text-center header">Add New Time Preference</legend>
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-calendar bigicon"></i></span>
                        <div class="col-md-5">
                            @Html.EnumDropDownListFor(model => model.DayOfWeek, new { htmlAttributes = new { @class = "form-control"})
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-time bigicon"></i></span>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.BeginTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Begin Time" } })
                            @Html.ValidationMessageFor(model => model.BeginTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"></span>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "End Time" } })
                            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List of Time Preferences", "Details")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
