@model PickUpSports.Models.DatabaseModels.TimePreference

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimePreference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimePrefID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
