@model PickUpSports.Models.DatabaseModels.TimePreference

@{
    ViewBag.Title = "Edit";
}
<br/><br/>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="well well-sm form-group">
                <fieldset>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.TimePrefID)
                    <legend class="text-center header">Edit Your Time Preferences</legend>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Select Day of Week:</label>
                            @Html.DropDownList("DayOfWeek", new SelectList(Enum.GetValues(typeof(DayOfWeek))), "Select Day of Week", new { @class = "form-control" })                           
                        </div>
                        <div class="form-group">
                            <label for="BeginTime">Select Beginning Time:</label>
                            @Html.EditorFor(model => model.BeginTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Begin Time:" } })
                            @Html.ValidationMessageFor(model => model.BeginTime, "", new { @class = "text-danger" })
                            <small id="emailHelp" class="form-text text-muted">Select time between 00:00 to 23:59</small>
                        </div>
                        <div class="form-group">
                            <label for="EndTime">Select Ending Time:</label>
                            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "End Time:" } })
                            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                            <small id="emailHelp" class="form-text text-muted">Select time between 00:00 to 23:59</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </fieldset>

            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to Account Detail", "../Contact/Details")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
