@model PickUpSports.Models.ViewModel.SportPreferenceViewModel
@{
    ViewBag.Title = "Details";
}
<br />
@*
        <p>
        @Html.ActionLink("Create A New Preference", "Create")
    </p>

    <div>
        <h4>SportPreference</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ContactUsername)
            </dt>
            

            <dd>
                @Html.DisplayFor(model => model.ContactUsername)
            </dd>

            
        </dl>
    </div>

*@

<div class="container">
    <div class="row">
        <div class="well well-sm">

            <fieldset>
                <legend class="text-center header">Your Sports Preferences</legend>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactUsername)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ContactUsername)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SportName)
                </dt>
                @foreach (var name in Model.SportName)
                {
                    <dd>
                        @name
                    </dd>
                }
            </fieldset>
        </div>
    </div>
    <p>
        @Html.ActionLink("Add New Sport Preference", "Create")
    </p>
</div>


